<center>
    <h2>Users</h2>
    <form action="/users" method="post">
        <input class="datainput" type="text" name="username" placeholder="Username"><br>
        <input class="datainput" type="password" name="password" placeholder="Password"><br>
        <input class="datainput" type="" name="email" placeholder="Email"><br>
        <input class="datainput" type="submit" value="Create User">
    </form>

    <a target="_blank" href="/users/getusers">Get Users</a>

</center>