<center>
    <h2>Users</h2>
    <div class="container">
        <div class="adduserpanel">
            <h3>Add User</h3>
            <form action="/users" method="post">
                <input class="datainput" type="text" name="username" placeholder="Username"><br>
                <input class="datainput" type="password" name="password" placeholder="Password"><br>
                <input class="datainput" type="" name="email" placeholder="Email"><br>
                <input class="datainputbtn" type="submit" value="Create User">
            </form>
        </div>
        <div class="getuserspanel">
            <h3>Get Users</h3>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Email</th>
                </tr>
                {{# each user}}
                    <tr>
                        <td>{{this.username}}</td>
                        <td>{{this.password}}</td>
                        <td>{{this.email}}</td>
                    </tr>
                {{/each}}
            </table>
            <a class="getuserbtn" href="/users/getusers">Get Users</a>
        </div>
    </div>
    <br>
    <a target="_blank" href="/users/getusers_json">Get Users to JSON</a>
</center>